<footer class="page-footer">
	<div class="container">
		<div class="page-footer__wrapper">
			<div class="page-footer__content-block">
				<div class="page-footer__logo">
					<svg width="43" height="40" class="page-footer__logo-figure">
						<use xlink:href="#logo"></use>
					</svg>
					<svg width="108" height="26" class="page-footer__logo-name">
						<use xlink:href="#logo_name"></use>
					</svg>
				</div>
				<div class="page-footer__content-text">
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
				</div>
			</div>
			<div class="page-footer__nav-wrapper">
				<div class="page-footer__nav-block">
					<div class="page-footer__nav-title">Features</div>
					<div class="page-footer__nav">
						<ul>
							<li><a href="#">For brokers</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Pricing</a></li>
						</ul>
					</div>
				</div>
				<div class="page-foooter__nav-block">
					<div class="page-footer__nav-title">Contacts</div>
					<div class="page-footer__nav">
						<ul>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="page-footer__nav-block">
				<div class="page-footer__nav-title">Read more</div>
				<div class="page-footer__nav">
					<ul>
						<li><a href="#">Article 1</a></li>
						<li><a href="#">Article 2</a></li>
						<li><a href="#">Article 3</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-footer__bottom-block">
		<div class="container">
			<div class="page-footer__bottom-wrapper">
				<div class="page-footer__copyright-block">Copyright 2021 © All Rights Reserved</div>
				<div class="page-footer__social-block">
					<ul>
						<li>
							<a href="#">
								<svg width="11" height="18">
									<use xlink:href="#facebook"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="21" height="18">
									<use xlink:href="#twitter"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="#">
								<svg width="18" height="18">
									<use xlink:href="#instagram"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>