<div class="popup-block" id="popup_video">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-video">
			<div class="popup-block__video-block">
				<div class="popup-block__video">
					<iframe src="https://www.youtube.com/embed/McSTvIqDuso" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_thanks">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-thanks">
			<div class="popup-block__thanks-block">
				<div class="popup-block__thanks-title">Thank <span>you</span></div>
				<div class="popup-block__thanks-description">
					<p>We will contact you as soon as possible</p>
				</div>
				<div class="popup-block__thanks-icon">
					<svg width="160" height="153">
						<use xlink:href="#check"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_review_1">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-review">
			<div class="popup-block__review-block">
				<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
					<svg width="16" height="16">
						<use xlink:href="#review_close"></use>
					</svg>
				</a>
				<div class="popup-block__review-wrapper">
					<div class="popup-block__review-text">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model</p>
					</div>
				</div>
				<div class="popup-block__review-navigation-block">
					<a href="javascript:;" class="popup-block__review-prev-button" data-toggle="switch-modal" data-target="#popup_review_3">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_left"></use>
						</svg>
					</a>
					<div class="popup-block__review-author-block">
						<div class="popup-block__review-photo-block"><img src="img/slider-photo-1.png" alt=""></div>
						<div class="popup-block__review-author-name">John Strong</div>
					</div>
					<a href="javascript:;" class="popup-block__review-next-button" data-toggle="switch-modal" data-target="#popup_review_2">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_review_2">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-review">
			<div class="popup-block__review-block">
				<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
					<svg width="16" height="16">
						<use xlink:href="#review_close"></use>
					</svg>
				</a>
				<div class="popup-block__review-wrapper">
					<div class="popup-block__review-text">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model</p>
					</div>
				</div>
				<div class="popup-block__review-navigation-block">
					<a href="javascript:;" class="popup-block__review-prev-button" data-toggle="switch-modal" data-target="#popup_review_1">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_left"></use>
						</svg>
					</a>
					<div class="popup-block__review-author-block">
						<div class="popup-block__review-photo-block"><img src="img/slider-photo-2.png" alt=""></div>
						<div class="popup-block__review-author-name">Nina Yang</div>
					</div>
					<a href="javascript:;" class="popup-block__review-next-button" data-toggle="switch-modal" data-target="#popup_review_3">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="popup-block" id="popup_review_3">
	<div class="popup-block__overlay">
		<div class="popup-block__popup popup-block__popup-review">
			<div class="popup-block__review-block">
				<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close">
					<svg width="16" height="16">
						<use xlink:href="#review_close"></use>
					</svg>
				</a>
				<div class="popup-block__review-wrapper">
					<div class="popup-block__review-text">
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model</p>
					</div>
				</div>
				<div class="popup-block__review-navigation-block">
					<a href="javascript:;" class="popup-block__review-prev-button" data-toggle="switch-modal" data-target="#popup_review_2">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_left"></use>
						</svg>
					</a>
					<div class="popup-block__review-author-block">
						<div class="popup-block__review-photo-block"><img src="img/slider-photo-3.png" alt=""></div>
						<div class="popup-block__review-author-name">Colin Smith</div>
					</div>
					<a href="javascript:;" class="popup-block__review-next-button" data-toggle="switch-modal" data-target="#popup_review_1">
						<svg width="16" height="14">
							<use xlink:href="#review_arrow_right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

